html {
    font-size: 100%;
    background: linear-gradient(white, gray);
}

h1, h2, h3 {
    font-weight: bold;
    font-family: "Arial", "Verdana", sans-serif;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

body {
    font-family: "Georgia", "Times New Roman", serif;
}

main {
    border: 2px solid black;
    width: 75%;
    margin: auto;
}

a {
    color: #ffffff;            
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border 0.3s;
    text-shadow: 1px 1px 2px black;
}

a:hover {
    color: green;
    border-bottom: 2px solid darkolivegreen;
}

figcaption {
    color: white;
    text-shadow: 1px 1px 2px black;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 4rem;
    padding-right: 4rem;
}

figure {
    width: 100%;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
}

table {
    margin: auto;
    width: 60%;
}

ol {
    padding-left: 4rem;
    padding-right: 4rem;
    list-style-position: inside;
    list-style-type: circle;
}

.green {
    background: linear-gradient(to right, teal, lightgreen, teal);
}

.blue {
    background: linear-gradient(to right, aliceblue, lightblue, aliceblue);
}

.major_header {
    width: 75%;
    margin: 0 auto;
    background: linear-gradient(lightseagreen 5%, gray);
    color: white;
    padding: 2rem 0;
    text-align: center;
    border-bottom: 4px solid darkolivegreen;
    border-left: 4px solid darkolivegreen;
    border-right: 4px solid darkolivegreen;
    text-shadow: 1px 1px 2px black;
}

.horizontal-list-inline {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.horizontal-list-inline li {
    display: inline-block;
    padding: 1rem;
}

#craft_of_the_month {
    background-color: darkslategray;
    width: 100%;
    opacity: 70%;
}

#flexed_content {
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#flexed_content > article {
    flex: 1 1 500px;
}