html {
    font-size: 16px;
}

h1 {
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
}

h2 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5em;
}

p {
    font-family: serif;
    font-size: 1em;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightblue;
}

#craft_of_the_month {
    background-color: black;
    width: 50vw;
    margin: auto;
}