html {
    font-size: 16px;
}

h1 {
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
}

h2 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5em;
}

main {
    border: 2px solid black;
    width: 75%;
    margin: auto;
}

section {
    width: 100%;
}

header {
    width: 100%;
    text-align: center;
}

p {
    font-family: serif;
    font-size: 1em;
    padding-left: 4rem;
    padding-right: 4rem;
}

figure {
    border: 5px solid lightcyan;
    width: 100%;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
}

table {
    margin: auto;
    width: 60%;
}

ol {
    padding-left: 4rem;
    padding-right: 4rem;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightblue;
}

.major_header {
    width: 50vw;
}

.horizontal-list-inline {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.horizontal-list-inline li {
    display: inline-block;
    padding: 1rem;
}

#craft_of_the_month {
    background-color: black;
    width: 100%;
}